body {
	margin: 0 0 0 0;
	overflow-x: hidden;
	background-color: #D9D9D9;
	font-family: sans-serif;
}

#barre {
	min-height: 60px;
	width: 100%;
	top: 0;
	margin-top: 0;
	display: flex;
	justify-content: space-around;
}

h1 {
	margin: auto;
	font-weight: 100;
}
@media all and (max-width: 768px){
	h1 {
		display: none;
	}
}
#logoVelo {
	margin-left: 2%;
}
#logoVelo img {
	width: 90%;
	position: relative;
	top: 4px;
}
#logoLyon {
	margin-right: 2%;
}
#logoLyon img {
	position: relative;
	top: 10px;
}

#diaporama {
	position: relative;
	width: 100%;
	margin: auto;
	margin-bottom: 25px;
}
#carrousel{
	position: relative;
}
#carrousel img {
	width: 100%;
}
.boutonDiapo {
	position: absolute;
	top: 50%;
	height: 50px;
	width: 30px;
	background-color: grey;
}
@media all and (max-width: 768px){
	.boutonDiapo {
		top: 20%;
	}
}
.boutonDiapo:hover i {
	color: red;
}
#precedent {
	left: 0px;
	border-bottom-right-radius: 240px;
	border-top-right-radius: 240px;
}
#suivant {
	right: 0px;
	border-bottom-left-radius: 240px;
	border-top-left-radius: 240px;
}
#precedent i {
	position: absolute;
	left: 2px;
	top: 9px;
}
#suivant i {
	position: absolute;
	right: 2px;
	top: 9px;
}
#carteVelo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
@media all and (max-width: 992px){
	#carteVelo {
		flex-direction: column;
	}
}
#mapContainer {
	position: relative;
	width: 55%;
	margin-left: 2%;
	height: 470px;
	border-radius: 15px;
	background-color: #33dda1;
}
@media all and (max-width: 992px){
	#mapContainer {
		width: 96%;
		margin: auto;
		margin-left: 2%;
		margin-right: 2%;
		margin-bottom: 25px;
	}
}
#map {
	height: 470px;
    border-radius: 15px;
    opacity: 0.9;
    
}
#schemaVelo {
	margin: auto;
	margin-right: 2%;
	width: 40%;
}
@media all and (max-width: 992px){
	#schemaVelo {
		margin: auto;
		width: 80%;
	}
}
#schemaVelo img {
	width: 100%;
	border-radius: 15px;
	opacity: 0.7;
}
#blocDroite {
	height: 470px;
	width: 38%;
	text-align: center;
	background-color: #ce4012;
	margin: auto;
	font-family: sans-serif;
	line-height: 20px;
	border-radius: 15px;
	margin-right: 2%;
}
@media all and (max-width: 992px){
	#blocDroite {
		width: 80%;
		margin: auto;
	}
}
@media all and (max-width: 576px){
	#blocDroite {
		width: 100%;
		min-height: 460px;
	}
}

#canvas {
	background-color: #d7c6c6;
}

#statutResa {
	background-color: #baced5;
	text-align: center;
	min-height: 140px;
	position: relative;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 25px;
	border-radius: 15px;
	font-family: sans-serif;
	font-size: 110%;
}
@media all and (max-width: 576px){
	#statutResa {
		height: auto;
	}
}
#blocBas{
	display: inline-flex;
}
#bike1, #bike2 {
	position: relative;
	top: 17px;
}
#bike1 img, #bike2 img {
	width: 90px;
	
}
#etatReservation {
	padding-top: 25px;
	min-width: 450px;
}
@media all and (max-width: 768px){
	#etatReservation {
		padding-top: 0;
		min-width: 0;
		margin-top: 15px;
	}
}